export ORACLE_HOME={{ oracle_path }}/{{ version_cfg.lib }}/{{ instantclient_path }}
export OCI_HOME={{ oracle_path }}/{{ version_cfg.lib }}/{{ instantclient_path }}
export OCI_LIB_DIR={{ oracle_path }}/{{ version_cfg.lib }}/{{ instantclient_path }}/lib
